## Homework 3: Multiple Regression

In [1]:
import pandas as pd

In [2]:
data_link = '/Users/user/Desktop/Business_intelligence_in_Python/BostonHousing.csv'
boston_df = pd.read_csv(data_link,encoding = 'unicode_escape')

In [3]:
boston_df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV,CAT. MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,12.653063,22.532806,0.166008
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,7.141062,9.197104,0.372456
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,1.730000,5.000000,0.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,6.950000,17.025000,0.000000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,11.360000,21.200000,0.000000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,16.955000,25.000000,0.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,37.970000,50.000000,1.000000

In [4]:
# do multiple regression with CRIM + CHAS + RM = MEDV  
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression

In [5]:
# partition model 
variables  = boston_df.loc[:,('CRIM','CHAS','RM')]
estimate  = boston_df.loc[:,'MEDV']
X_train, X_test,Y_train,Y_test = train_test_split(variables,estimate, test_size = 0.4, random_state = 12345)

In [6]:
LinReg = LinearRegression()

boston_lm = LinReg.fit(X_train,Y_train)
print(boston_lm)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
boston_lm_intercept = LinReg.intercept_

In [8]:
boston_lm_coef = LinReg.coef_

In [9]:
print("The linear model is: MEDV = {:.5} + {:.5}CRIM+ {:.5}CHAS + {:.5}RM".format(boston_lm_intercept,boston_lm_coef[0],boston_lm_coef[1],
                                                                                  boston_lm_coef[2]))

The linear model is: MEDV = -29.944 + -0.26826CRIM+ 4.0404CHAS + 8.4426RM

In [10]:
Y_pred = LinReg.predict(X_test)

In [11]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np 
boston_lm_mse = mean_squared_error(Y_pred,Y_test)
boston_lm_rmse = np.sqrt(boston_lm_mse)
def mape(y_true, y_pred):
    return np.mean(np.abs((y_pred - y_true) / y_true)) * 100
boston_lm_mape = mape(Y_test,Y_pred)
print("MSE:  {:.5}".format(boston_lm_mse))
print("RMSE: {:.5}".format(boston_lm_rmse))
print("MAPE: {:.5}".format(boston_lm_mape))

MSE:  37.886
RMSE: 6.1552
MAPE: 23.003